/**
 * additional styles
 */

.post-content {
  display: flex;
  flex-direction: column;
}


.smallThumbs {
  width: 48%;
  float: left;
  padding: 1%;
}

img,video{
  max-width: 96%;
  padding-bottom: 5px;
  padding-left: 2%;
}

.h3link, .h3link:hover{
  color:#111;
  text-decoration: none;
}
